.grid {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    margin: 8rem auto;
    width: 50rem;
  }
  .cell {
    flex: 0 0 32%;                       /* don't grow, don't shrink, width */
    height: 50px;
    width: 50px;
    margin-bottom: 5px;
    background-color: #999;
    padding: 1rem;
  }
  .card{
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

  /* .cell:nth-child(3n) {
    background-color: #F00;
  } */