.grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 20fr); 
    grid-template-rows: repeat(3, 20fr); 
    padding: 0.5rem;
    margin: 0rem auto; 
    width: 25rem;
    height: 25rem;
    background-color: rgb(77, 22, 0);
  }
  
  .cell {
    flex: 0 0 32%;                       /* don't grow, don't shrink, width */
    background-color: rgb(255, 0, 0);
  }
  .card{
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
